<style>
  ul {
    display: inline-block;
    padding: 15;
  }
  li {
    float: left;
  }
</style>

<h1>Tester search</h1>
<h4>Type comma delimited choices or ALL into text boxes</h4>

<table style="width:100%">
  <tr>
      <th >Countries</th>
      <th >Devices</th>
  </tr>

  <tr>
      <td >
        <ul *ngFor="let country of allCountryList;">
          <li>{{country}} </li>
        </ul>
      </td>

      <td >
        <ul *ngFor="let device of allDeviceList;">
          <li>{{device}} </li>
        </ul>
      </td>
  </tr>

  <tr>
    <td >
      <input type="text" id="selectedCountries" name="selectedCountries" [(ngModel)]="selectedCountries">
      <button type="button" (click)="changeCountryFilter()">Filter countries</button>
    </td>

    <td >
      <input type="text" id="selectedDevices" name="selectedDevices" [(ngModel)]="selectedDevices">
      <button type="button" (click)="changeDeviceFilter()">Filter devices</button>
    </td>

  </tr>
</table>




<table style="width:100%">
  <tr>
      <th width="70%">Testers who meet criteria:       Countries: {{selectedCountries}}       Devices: {{selectedDevices}} </th>
  </tr>

  <tr *ngFor="let loop of testerList">

      <td>
          <p>Tester: {{loop.testerInfo}} has filed {{loop.bugCount}} bugs for devices matching your criteria</p>
      </td>

  </tr>
</table>

<router-outlet></router-outlet>